@use "@/app/globals.scss" as *;

.footer {
  padding: 12rem 0;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  &-content {
    margin: auto;
    .upper {
      display: flex;
      justify-content: space-between;
      padding: 8rem 0px;
      .text {
        order: 2;
        h2 {
          font-size: 2.2rem;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .desc {
          margin-top: 2rem;
          color: rgb(238, 238, 238);
          font-size: 1.5rem;
          line-height: 1.7;
        }
      }
      .social {
        width: 40%;
        order: 1;
        max-width: 50rem;
        h2 {
          font-size: 2.2rem;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .list {
          margin-top: 2rem;
          .link-social {
            color: inherit;
            .icon {
              margin-right: 1rem;
              width: 2.5rem;
            }
          }
        }
      }
    }
    .lower {
    }
  }
}
